<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1> My Projects</h1>
            {% if list_projects|length == 0 %} 
                <p> You have not projects at this time</p>
            {% else %} 
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </thead>
                    {% for project in list_projects %} 
                        <tr>
                            <td>{{project.name}}</td>
                            <td>{{project.tasks.count}}</td>
                        </tr>
                        {% endfor %}
                </table>
            {% endif %}
        </div>
    </main>
</body>
</html>